<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yr Eights Amity: Disclaimer</title>
</head>
<body>
    <div class="buttons-container">
        <button type="button" onclick="location.href='/homepage'">Homepage</button>
        <button type="button" onclick="location.href='/server-list'">Server List</button>
        <button type="button" onclick="location.href='/login'">Login Page</button>
        <button type="button" onclick="location.href='/disclaimer'">Disclaimer</button>
    </div>
    <h1>Disclaimer: </h1>
    <p>The website yreights-amity.xyz is not affiliated with Amity College and is made as a passion project by me. It also helps students access more info once fully developed.</p>
    <p>It is also for minecraft servers.</p>
</body>
</html>