
h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 1;
    background-color: aqua;
    font-family: Trian;
    width: auto;


}
span {
    font-size: 55px;
    color: grey

} 
p {
    font-size: 20px;
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;

}
button {
    width: 75px;
    height: 35px;
    text-align: center;
}

span1 {
    font-size: 22px;
    color: grey;    
}
p1 {
    font-size: 20px;
    word-spacing: 5px;
    line-height: 10px;
    text-align: center;

}
h2 {
    text-align: center;

}