<!DOCTYPE html>
<html>
<head>
    <title>YR8s Amity: Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="icon" href="{{ url_for('static', filename='images/orange-button.png') }}">
    <meta name="google-adsense-account" content="ca-pub-4206860074497243">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<style>
    h1 {
        font-family: "Trirong", serif;
    }
</style>
<body>
    <button type="button" onclick="location.href='/server-list'">Server List</button>
    <h1>The<br> 
        <span>Year 8 Amity website</span>!</h1>
    <p>Welcome to the <span1>Year 8 Amity website</span1>!</p>
    <p>The website is still <em>under development</em>, but here's what the server has:</p>
    <h2>* A homepage <br>
        * A server list <br>
        * An icon <br>
        * A button that switches between pages</h2>
    <p>This is what I plan to add to the website: </p>
    <h2>* A login page (Via Discord) <br> 
        * Configure with a discord bot with Study Gang <br>
        * An account pages <br>
        * Get sometype of API that connects to schoolbox</h2>
</body>
</html>
