<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yr8s Amity: Links</title>
</head>
<body>
    <div class="buttons-container">
        <button type="button" onclick="location.href='/homepage'">Homepage</button>
        <button type="button" onclick="location.href='/server-list'">Server List</button>
        <button type="button" onclick="location.href='/login'">Login Page</button>
        <button type="button" onclick="location.href='/disclaimer'">Disclaimer</button>
    </div>
    <h1>Coming soon!</h1>
</body>
</html>