<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YR8s Amity: Login Page</title>
</head>
<body>
    <h1>Login Page</h1>

    <div class="login-container">
        <h2>Login (Use your <span>schoolbox</span> logins)</h2>
        <form action="/process" method="post">
            <input type="text" name="user/email" placeholder="Username or Email">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" value="Validate!">

        </form>

    </div>
    
</body>
</html>