<!DOCTYPE html>
<html>
<head>
    <title>YR8s Amity: Server List</title>
    <link rel="stylesheet" href="/app/static/css/server-list.css">
    <link rel="icon" href="/app/static/images/orange-button.png">
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-4206860074497243">
</head>
<body>
    <button type="button" onclick="location.href='/homepage'">Homepage</button>
    <h1>MC Server List:</h1>
    <p>Java IP: <span>java.YrEights-Amity.xyz</span></p>
    <p>Bedrock IP: <span>bedrock.YrEights-Amity.xyz</span></p>
    <img src="/app/static/images/minecraft-image.jpg" alt="Minecraft">
</body>
</html>
