<!DOCTYPE html>
<html>
<head>
    <title>YR8s Amity: Server List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/server-list.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/orange-button.png') }}">
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-4206860074497243">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="buttons-container">
        <button type="button" onclick="location.href='/homepage'">Homepage</button>
        <button type="button" onclick="location.href='/server-list'">Server List</button>
        <button type="button" onclick="location.href='/login'">Login Page</button>
        <button type="button" onclick="location.href='/disclaimer'">Disclaimer</button>
    </div>
    <h1>MC Server List:</h1>
    <p>Java IP: <span>java.YrEights-Amity.xyz</span></p>
    <p>Bedrock IP: <span>bedrock.YrEights-Amity.xyz</span></p>
    <img src="{{ url_for('static', filename='images/minecraft-image.jpg') }}" alt="Minecraft">
</body>
</html>
